@import "variables";

.home {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-column-gap: 24px;

  @include maxWidth(550px) {
    grid-template-columns: 1fr 60px;
    grid-column-gap: 2px;
  }
}
